<section class="section">
    <div class="container">
        <h2 class="subtitile">oRGANIC vegetables</h2>
        <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to
            your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list list">
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Carrot</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/carrot.png 1x, ../img/vegetables/desktop/carrot@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/carrot.png 1x, ../img/vegetables/mobile/carrot@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/carrot.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">100 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Brussel sprouts</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/brussel.png 1x, ../img/vegetables/desktop/brussel@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/brussel.png 1x, ../img/vegetables/mobile/brussel@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/brussel.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">80 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Tomato</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/tomato.png 1x, ../img/vegetables/desktop/tomato@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/tomato.png 1x, ../img/vegetables/mobile/tomato@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/tomato.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">40 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Eggplant</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/eggplant.png 1x, ../img/vegetables/desktop/eggplant@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/eggplant.png 1x, ../img/vegetables/mobile/eggplant@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/eggplant.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">60 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Sweet potatoes</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/potatoes.png 1x, ../img/vegetables/desktop/potatoes@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/potatoes.png 1x, ../img/vegetables/mobile/potatoes@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/potatoes.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">80 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Leek</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source srcset="../img/vegetables/desktop/leek.png 1x, ../img/vegetables/desktop/leek@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source srcset="../img/vegetables/mobile/leek.png 1x, ../img/vegetables/mobile/leek@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/leek.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">50 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Mushrooms</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/mushrooms.png 1x, ../img/vegetables/desktop/mushrooms@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/mushrooms.png 1x, ../img/vegetables/mobile/mushrooms@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/mushrooms.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">40 UAH / kg</h4>
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">Corn</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source srcset="../img/vegetables/desktop/corn.png 1x, ../img/vegetables/desktop/corn@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source srcset="../img/vegetables/mobile/corn.png 1x, ../img/vegetables/mobile/corn@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/mobile/corn.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">60 UAH / kg</h4>
            </li>
            <li class="vegetables-item disp-none">
                <h3 class="vegetables-item-title">Radish</h3>
                <p class="vegetables-item-text">Plant</p>
                <div class="vegetables-item-picture">
                    <picture>
                        <source
                            srcset="../img/vegetables/desktop/radish.png 1x, ../img/vegetables/desktop/radish@2x.png 2x"
                            media="(min-width: 768px)" width="321" height="245">
                        <source
                            srcset="../img/vegetables/mobile/radish.png 1x, ../img/vegetables/mobile/radish@2x.png 2x"
                            media="(max-width: 767px)" width="292" height="223">
                        <img class="vegetables-item-pic" src="../img/vegetables/desktop/radish.png" alt="carrot"
                            width="292" height="223">
                    </picture>
                </div>
                <h4 class="vegetables-item-cost">90 UAH / kg</h4>
            </li>
        </ul>
        <button class="vegetables-button">
            <div class="vegetables-button-rotate">
                <svg class="vegetables-button-icon" width="14" height="14">
                    <use href="../img/vegetables/vector.svg"></use>
                </svg>
                <p class="vegetables-button-name">oRDER</p>
            </div>
        </button>
    </div>
</section>